* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__body {
  margin-top: 35px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__link {
  position: relative;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
  padding: 0 30px;
}
@media (max-width: 710px) {
  .menu__link {
    display: none;
  }
}
.menu__logo {
  padding: 0 30px;
}
.menu__link_circle::after {
  content: "";
  height: 2px;
  width: 2px;
  background-color: #4d4959;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  right: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  font-family: "Lato";
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 225px;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  background: url("../img/bg/bg_1.jpg") center center no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.generation {
  background-color: #f7f7f7;
}
.generation__block {
  padding: 100px 0;
}

.block {
  text-align: center;
}
.block__title {
  margin-top: 35px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}
.block__text {
  margin-top: 30px;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}
@media (max-width: 900px) {
  .block__text {
    line-height: 28px;
  }
}
@media (max-width: 710px) {
  .block__text {
    line-height: 18px;
  }
}
.block__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block__switch-circle {
  margin: 100px 5px 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #a9afb3;
}
.block__switch-circle_active {
  background-color: #a9afb3;
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1100px) {
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.brands__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  background-color: rgba(100, 194, 158, 0.425);
}
.brands__column {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}
.brands__column_b {
  background: url("../img/bg/block1_1f.jpg") top center no-repeat;
  background-size: cover;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}
@media (max-width: 1100px) {
  .brands__column_b {
    padding: 0 0 50% 0;
  }
}
.brands__column:hover .brands__logo {
  visibility: visible;
  -webkit-animation: logo 0.3s;
          animation: logo 0.3s;
}
.brands__img img {
  width: 100%;
}
.brands__block {
  background-size: contain;
  padding: 50px;
}
@media (max-width: 1100px) {
  .brands__block {
    padding: 15px;
  }
}
.brands__text {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}
.brands__text::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  margin: 50px auto;
  background-color: #353738;
}
.brands__rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 1100px) {
  .brands__rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.brands__column_rev {
  background: url("../img/bg/block2-2.jpg") center center no-repeat;
  background-size: cover;
}
.brands__column_block3-1 {
  background: url("../img/bg/block3__1.jpg") center center no-repeat;
  background-size: cover;
}
.brands__column_block3-2 {
  background: url("../img/bg/block3__3.jpg") center center no-repeat;
  background-size: cover;
}

.about {
  background-color: #f7f7f7;
}
.about__block {
  padding: 100px 150px 50px 150px;
}
@media (max-width: 1100px) {
  .about__block {
    padding: 100px 0 50px 0;
  }
}

.shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 635px) {
  .shop__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.shop__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}
.shop__block_rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.shop__block_b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.shop__button-block {
  height: 200px;
  background-color: #282f35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop__button {
  width: 300px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.49);
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.shop__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}
.shop__column-img {
  position: relative;
  width: 100%;
}
.shop__column-img img {
  width: 100%;
}
.shop__column-img:hover .shop__logo {
  visibility: visible;
  -webkit-animation: logo 0.3s;
          animation: logo 0.3s;
}
.shop__column_bg1 {
  background: url("../img/shop_img/2-1.jpg") center center no-repeat;
  background-size: cover;
}
.shop__column_bg2 {
  background: url("../img/shop_img/2-2.jpg") center center no-repeat;
  background-size: cover;
}
.shop__column_bg {
  width: 100%;
  height: 100%;
}
.shop__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  background-color: rgba(100, 194, 158, 0.425);
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.shop__logo h2 {
  margin-top: 10px;
}
.shop__logo img {
  width: 50px;
}

.mailing__block {
  padding: 115px 0;
}
.mailing__form {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 310px) {
  .mailing__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 5px;
  }
}
.mailing__form input {
  padding: 20px;
  border: 1px solid #d3d7d9;
  max-width: 400px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
@media (max-width: 310px) {
  .mailing__form input {
    padding: 20px 10px;
  }
}
.mailing__form button {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  background-color: #64c29e;
  padding: 20px 40px;
}
@media (max-width: 310px) {
  .mailing__form button {
    width: 100%;
  }
}
.mailing__form button:hover {
  background-color: #56aa8a;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}
.mailing__title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  text-transform: none;
  line-height: 34px;
  letter-spacing: normal;
}

.footer {
  background-color: #f7f7f7;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}
@media (max-width: 635px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.footer__copyright {
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
.footer__copyright span {
  font-family: Lato;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
}
.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__icon img {
  margin: 0 10px;
}
@media (max-width: 635px) {
  .footer__icon {
    margin-top: 25px;
  }
}
.footer__logo {
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo img {
  margin: 10px;
}
@media (max-width: 635px) {
  .footer__logo {
    margin-top: 25px;
  }
}

@-webkit-keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}