@import "./null.scss";
@import "./header.scss";
@import "./footer.scss";

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.main-screen {
        flex: 1 0 100%;
        position: relative;
		&__bg {
            background: url("../img/bg/bg_1.jpg") center center no-repeat ;
            background-size: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
		}
}
.content {
}

.generation { 
        background-color: #f7f7f7;
		&__block {
            padding: 100px 0;
		}

		
}
.block {
    text-align: center;
    &__icon {
            
    }

    &__title {
        margin-top: 35px;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #353738;
    }

    &__text {       
        margin-top: 30px;
        font-size: 18px;
        line-height: 34px;
        font-weight: 400;
        color: #848789;
        @media (max-width:900px) {
            line-height: 28px;
        }
        @media (max-width:710px) {
            line-height: 18px;
        }
    }
}
.brands {    
    &__row {
        display: flex;
    }
    &__logo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
        visibility: hidden;
        background-color: rgba(39, 196, 0, 0.171);              
    }

    &__column {               
        flex: 0 1 33.3333%;
        &_b {
            background: url("../img/bg/block1_1f.jpg") top center no-repeat;
            background-size: cover;
            flex: 0 1 66.667%;        
        }
        &:hover {
            .brands__logo {
                visibility: visible;
                animation: logo 0.3s;
            }
        }
    }
    
    &__img {
        img {
            width: 100%;
        }
    }

    &__block {       
        background-size: contain;
        padding: 70px 65px 0 65px;
    }

    &__text  {
        text-align: justify;
        font-size: 16px;
        line-height: 30px;
        &::after {
            content: "";
            display: block;
            width: 50px;
            height: 1px;
            margin: 50px auto;
            background-color: #353738;
        }
        
    }
    &__rev {
        flex-direction: row-reverse;        
    }
    &__column_rev {
        background: url("../img/bg/block2-2.jpg") center center no-repeat;
        background-size: cover;
    }

    &__column_block3-1 {
        background: url("../img/bg/block3__1.jpg") center center no-repeat;
        background-size: cover;
    }
    &__column_block3-2 {
        background: url("../img/bg/block3__3.jpg") center center no-repeat;
        background-size: cover;
    }
}
@keyframes logo {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;
    }
    
}


